/*TABLET AND PORTRAIT*/ /*Region*/

@media (orientation: landscape), (min-width: 650px) {
/*******************************************************************************
COLUMNS AND LAYOUT
***********************************************/
.col-md-4 {
	width:33.33%;
	display: inline-block;
	padding:10px 10px 10px 10px;
}

.col-md-6 {
    width:50%;
    display: inline-block;
    padding:10px 10px 0px 10px;
}

.col-md-12 {
    width:100%;
    display:block;
    padding:10px 10px 10px 10px;
}
	
}
/*EndRegion*/

/*Desktop and Landscape*/ /*Region*/

@media screen and (min-width: 1100px) {
 
/***********************************************
LAYOUT
***********************************************/   
.row {
    margin:20px 0px 70px 0px;
}

.Wrapper {
    width:70%;
    margin: auto;
}
    Header .col-lg-6:first-child {
        vertical-align: top;
        text-align: left;
    }

    Header .col-lg-6:nth-child(2) {
        text-align: right;
    }

.col-lg-4 {
    width:33.33%;
    display: inline-block;
    padding:10px 10px 10px 10px;
}

.col-lg-6 {
    width:50%;
    display: inline-block;
    padding:10px 10px 10px 10px;
}

.col-lg-12 {
    width:100%;
    display: inline-block;
    padding:10px 10px 10px 10px;
}

.col-lg-2 {
    width:16.66%;
    display: inline-block;
    padding:10px 10px 10px 10px;
}
	
/***********************************************
TEXT LAYOUT
***********************************************/

h1, h2 {
        font-size: 20px; font-size: 2rem;
    }
		Header h1 {
			font-size:16px ;font-size: 1.6rem;
			text-align: left;
		}

		Header nav li, Header nav li a {
			font-size:1.6px;font-size: 1.6rem;
		}
	
    h3 {
		font-size:16px;font-size:1.6rem;
        color:gray;
        margin-bottom: 2px;
    }

    Header .col-lg-6:nth-child(2) {
            text-align: right;
        }

	Header div.col-lg-6 h1 {
		border-bottom: none;
	}

/***********************************************
RESUME
***********************************************/

.verticalAligner {
    display:flex;
    align-items: center;
    justify-content: center;
}

.alignedItem {
    flex:1;
}  

/* align content of Resume,Skills, and Contact with columns */
.resume.row:nth-of-type(2){
    text-align: center;
}

	/*Align and space out Resume icons*/
	.resume.row:nth-of-type(2) section:first-of-type p {
		width: 50%;
		margin-left: 25%;
		text-align: left;
	}
}